<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
      http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean id="mongodbDaoClient" class="com.openparts.base.service.impl.MongodbDaoClient">
        <property name="adminDbName" value="${mongodb.adminDbName}"/>
        <property name="dbName" value="${mongodb.dbName}"/>
        <property name="username" value="${mongodb.username}"/>
        <property name="password" value="${mongodb.password}"/>
        <property name="addresses" value="${mongodb.addresses}"/>
    </bean>

</beans>
